.container2 {
  overflow-y: hidden;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(5, 1fr);
  column-gap: 20px;
  row-gap: 20px;
  border-top: solid 1px rgb(190, 190, 190);
  padding-top: 10px;
  margin-top: 3vh;
}

.button-add {
  display: none;
  background-color: gold;
  color: rgb(0, 0, 0);
  border-radius: 100px;
  border: none;
  padding: 0px;
  font-weight: bold;
  height: 60px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: fixed;
  bottom: 10px;
  right: 10px;
  font-size: 30px;
  font-family: Arial, Helvetica, sans-serif;
}



body {
  --sb-track-color: #232e3300;
  --sb-thumb-color:  #F8C620;
  --sb-size: 5px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 10px;
  
}





@media only screen and (max-width: 1300px) {
  .container2 {
    grid-template-columns: repeat(4, 1fr);
  }
  .item-todo {
    width: 250px;
  }
  .button-add {
    display: block;
  }
}
@media only screen and (max-width: 950px) {
  .container2 {
    grid-template-columns: repeat(3, 1fr);
  }
  .item-todo {
    width: 220px;
  }
}
@media only screen and (max-width: 750px) {
  .container2 {
    grid-template-columns: repeat(2, 1fr);
  }
  .item-todo {
    width: 100%;
  }
}
